
@{
    ViewBag.Title = "BuscarEmpleado";
}

<h2>Crear Empleado</h2>
<form action="/Farma/EncontrarEmpleado" method="post">
    <input type="text" name="Nombre" value="" />
    <input type="submit" value="Buscar" />
</form>
<form action="/Farma/EncontrarEmpleado" method="post">
    <input type="text" name="Nombre" value="" />
    <input type="submit" value="Buscar por Nombre" />
</form>