
@{
    ViewBag.Title = "CrearEmpleado";
}

<h2>Crear Empleado</h2>
<form action="/Farma/GuardarInfoEmpleado" method="post">
    <input type="text" name="Nombre" value="" />
    <input type="number" name="Codigo" value="" />
    <input type="time" name="Hora" value="" />
    <input type="submit" value="guardar" />
</form>

