@model Homework2.Models.FarmaModel
@{
    ViewBag.Title = "EmpleadoGuardado";
}
<!--Solamente vamos a mostrar el elemento guardado-->
<h2>El nuevo empleado ha sido agregado</h2>
<h3> Su nombre es: @Model.Nombre</h3>
<h3> Su código es: @Model.Codigo</h3>
<h3> Su código es: @Model.HoraEntrada</h3>
