@model Homework2.Models.FarmaModel
@{
    ViewBag.Title = "Empleado Encontrado: ";
}
<!--Solamente vamos a mostrar el elemento guardado-->
<h2>Datos del empleado:</h2>
<h3> Su nombre es: @Model.Nombre</h3>
<h3> Su código es: @Model.Codigo</h3>
<h3> Numero de citas: @Model.Citas</h3>
<h3> Horas trabajadas: @Model.HorasTrabajadas</h3>