@model Homework2.Models.FarmaModel
@{
    ViewBag.Title = "EMPLEADOS STACK.POP";
}
<!--Muestra el nombre y codigo del ultimo empleado en llegar al a agendar citas (es el primero en salir)-->
<h2>Sale de la cola:</h2>
<h3> Su nombre es: @Model.Nombre</h3>
<h3> Su código es: @Model.Codigo</h3>
